body{
    text-decoration:underline;
} 
 .header{
    height: 100px;
    background-color: lightcoral;
    font-size:30px;
    text-align: center;
    text-decoration: underline;
    line-height:100px;
     
}

.menuContent{
    height:800px;
}
    

.menu{
    height:800px;
    background-color:aquamarine;
    width:20%;
    text-align:left;
    float:left;

}

.content{
    height:inherit;
    background-color:forestgreen;
    width:80%;
    text-align:center;
    float:right;
    
}

a{
    font-size:x-large;
}

a:hover {
    color:brown;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.gameContent{
   height:inherit;
    background-color:forestgreen;
    width:80%;
    text-align:center;
    float:right;
    

}

h1{
    text-decoration:underline;
    font-family:'Franklin Gothic';
}

.ul1{
   float:left;
   font-size:x-large;
}

.ul2{
  float:right;
  font-size:x-large;
}
h3{
    text-align:left;
    text-decoration:underline;
}

.images{
    height:inherit;
}

.image1{
    height: 200px;
    background-color: orange;
    
}

.imageF{
    height:600px;
    
}

.image2{
    height:600px;
    background-color:darkslateblue;
    width:27%;
    float:left;
}

.image3 {
    height: 600px;
    background-color: skyblue;
    width:27%;
    float:left;
}

.imageH{
    height: 600px;
    background-color:darkslategray;
    width:26%;
    float:right;
    
    
}

.image4{
   height:300px;
   width:100%;
   background-color:firebrick;
}
.image5{
   height:300px;
   width:100%;
   background-color:plum;
}






