* {
    margin: 0px;
    padding: 0px;
}
#parentContainer {
    width:auto;
    min-height: 900px;
    height: auto !imprtant;
    background-image: url(Images/tile.jpg);
    background-repeat: repeat;
}

#title {
   background-image: url(Images/title.png);
   background-repeat: no-repeat;
   margin:0px auto;
   background-position: bottom;
   width: 300px;
   height: 120px;
}

#createTaskContainer {
    width: 600px;
    height: 200px;
    background-image: url(Images/formbg.jpg);
    margin: 25px auto;
    box-sizing: border-box;
    padding: 0px 25px 0px 90px;
}

.taskInfo {
    width: 400px;
    font-size: 20px;
    padding-top: 16px;
}

.outsideText {
    margin-right: 15px;
    font-weight: bold;
}

input {
    
}

.outerText {
    display: block;
    font-weight: bold;
}

div {
   
}

input#taskDate {
    margin-right: 10px;
}

textarea {
    width: 373px;
}

#submit {
    font-weight: bold;
    font-size: large;
}

input#submit {
   
}

#validateText {
    color: cornflowerblue;
}

#tasksBox {
    width: auto;
    min-height: 250px;
    box-sizing: border-box;
}

.tasksArea {
    background-image: url(Images/notebg.png);
    background-size: 200px 250px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    float: left;
    position: relative;
    width: 200px;
    height: 250px;
    padding: 30px 10px 10px 10px;
    margin: 0px 0px 28px 28px;
}

.tasksArea:hover > .delete {
   background-image: url(Images/DeleteRed.png);
   z-index: 999;
}

.delete {
    
    background-size: 25px 25px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 20px;
    top: 15px;
}

.delete:hover {
    cursor: pointer;
    
}

.date, .time {
    width: 160px;
    box-sizing: border-box;
    float: left;
}

.description {
    box-sizing: border-box;
    width: 160px;
    height: 150px;
    margin-top: 25px;
    font-size: 15px;
    float: left;
}
